<header>
	<div class="header-content-new">
        <div class="header-content-new-inner">
        	<p></p>
        	<h1>Rushee <%= @rushname.id %> </h1>
        	<p></p>
        	<p><%= @rushname.name %></p>
        	<p><%= @rushname.photo %></p>
        	<p><%= @rushname.email %></p>
        	<p><%= @rushname.phone %></p>
        	<p><%= @rushname.description %></p>
        </div>
    </div>
</header>