<header>
	<div class="header-content-new">
		<div class="header-content-new-inner">
    <p></p>
      <h1>Submitted Reimbursements</h1>
      <hr>
      <%= link_to "Enter New Reimbursement", reimbursements_new_path, :class => "btn btn-primary btn-xl page-scroll" %> <!-- Create a link that appears as "new" that leads to rushnames_new_path -->
      <hr>
      <table style="width:100%">
        <tr>
          <td>Item</td>
          <td>Date</td>
          <td>Cost</td>
          <td>VP</td>
        </tr>
      <% @reimbursements.each do |u| %> <!-- Iterates through each item under the variable u -->
        <tr>
          <td><%= link_to u.item, reimbursement_path(u) %></td>
          <td><%= u.date %></td>
          <td><%= u.cost %></td>
          <td><%= u.VP %></td>
        </tr>
      <% end %>
      </table>
    <p></p>
    </div>
  </div>
</header>
